{
	servers {
		timeouts {
			read_body 10s
			read_header 10s
			write 10s
			idle 2m
		}
		max_header_size 16384
	}

	auto_https disable_redirects
}

import /etc/caddy/config

:80 {
	root * /home/site/wwwroot
	import mustheaders
	import compression
	# To put site in maintenance mode replace "maintenance no" with "maintenance yes"
    # Optionally create a 503.html page
    import maintenance no
    import security
    # To make wp-admin only accessable for whitelisted IP's replace "wp-admin-secured no"
    # with "wp-admin-secured yes" and set the WORDPRESS_ADMIN_IP_WHITELIST environment variable
    import wp-admin-secured yes
	import caching
	import php
	import handle_error

	respond /health-check "OK" 200 {
	    close
	}

	import logs
}

